.list-products{
    /* width: 800px; */
    background-color: rgb(204, 200, 214);

    overflow: hidden;
    /* border-radius: 5px; */

    padding: 10px;
    transition: .3s;
    margin-bottom: 5px; 
}

.list-products:hover{
    box-shadow: 18px 10px 51px rgb(143, 141, 144);
}

.product-img{
    display: flex;

}

.product-img, img{
    /* width: 200px; */
    margin: 5px;
}

.product-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-title, h2{
    font-size: 12pt;
}

.product-title, p{
    font-size: 10pt;
}

.product-price{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-price, h2{
    font-size: 12pt;
}
