.search{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(48, 41, 62);
    border-radius: 5px;
    margin: 0 10px;
    height: 40px;
}

.input-search{
    background-color: rgb(48, 41, 62);

    border-radius: 5px;
    width: 200px;
    color: white;
    outline:none;
    font-size: 13pt;
    border: none;
}

.input-search::selection{
    background-color:rgb(196, 187, 214);
    color: #000;
}

.btn-icon{
    background-color: Transparent;
    color: white;
    height: 50px;
    cursor: pointer;
    outline:none;
    border: none;
    height: 40px;
    margin: 0px 10px;
    transition: .8s;
}

.btn-search:hover{
    color: rgb(196, 187, 214);
    transform: rotate(-8deg)
}

.btn-delete:hover{
    color: rgb(250, 9, 9);
    transform: rotate(5deg)
}
