.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    width: 100%;
    position: fixed;
    top: 0;

}

.result-label, h5{
    color: rgb(235, 100, 10);
    padding-top: 60px;
    margin-top: 75px;
    padding-left: 70px;
    font-size: 15pt;
    transition: 1s;

}

.App-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 50px 20px;
    justify-content: space-around;
}

.App-link {
    color: #f82fcd;
}

.footer-pagination{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 0px;

}
.pagination{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    border-radius: 5px;
    padding: 0
}

.pagination > li{
    width: 25px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border: 1px solid gray;
    margin: 4px;
}

.pagination > li:hover{
    background-color: gray;
}

.pagination > li > a{
    text-decoration: none;
    color: black;
}

.pagination > .active{
    background-color: gray;

}

.pagination > .active > a{
    color: white;

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-device-width: 418px) {
    .App-header {
        padding-bottom: 18.425px;

    } 
}

@media only screen and (max-device-width: 470px) {
    .result-label, h5{
        font-size: 11pt;    
    }
}

@media only screen and (min-device-width: 700px) {
    .App-header {
        height: 50px;
    } 
}