.App {
    /* text-align: center; */
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: rgb(82, 64, 119);
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: calc(10px + 1vmin);
    overflow: hidden;
    color: white;
}

.App-link {
    color: #f82fcd;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-device-width: 418px) {
    .App-header {
        padding-bottom: 18.425px;

    } 
}

@media only screen and (min-device-width: 700px) {
    .App-header {
        height: 50px;
    } 
}